

body {
    background-color:whitesmoke;
}


p {
    
    font-size:200%;
    line-height:120%;
    padding-top:0%;
    text-align:left;
    font-family:Times Regular;
    color:white;
}


@media (max-width: 800px) {
    

button {
    color:transparent;
    background-color: transparent;
    border-style: none;
    align-content: center;
    text-align:center;
}
    
html{
    border: solid;
    border-width:1px;
    height:72%;
    width:96%;
        margin-top:2%;
        margin-bottom:2%;
        margin-left:2%;
        margin-right:1%;
        position:fixed;

}
    
 .row {
    padding-top:5%;
    width: auto;
    height:50%;
    margin-top:0%; 
    margin-bottom:4%;
  }
    
h2
{
    color:Black;
    font-family:Times;
    font-size:120%;
    line-height: 250%;
    text-align: center;
}

h3
{
    color:Black;
    font-family:Times;
    font-size:95%;
    line-height: 130%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:3%;
    
}
    
h4
{
    color:Black;
    font-family:Times;
    font-size:95%;
    line-height: 130%;
    margin-left:0%;
    margin-right:0%;
    margin-bottom:3%;
    text-align: center;
    
}

#r1 {
    text-align:left;
    padding-left:0px;
    border-style:solid;
    border-color:black;
    border-width:1px;
    border-radius: 60px;
    width:auto;
    height:50px;
    margin-bottom:20px;
}
    
#r2 {
    padding-left:0%;
}


.row {
    width: auto;
    padding-top:5%;
    margin-bottom:2%;   
}
}




@media (min-width: 800px) {
    
    
    
button {
    color:transparent;
    background-color: transparent;
    border-style: none;
}
    
html{
    border: solid;
    border-width:1px;
    height:88%;
    width:98.7%;
        margin-top:0.7%;
        padding-bottom:1%;
        margin-left:0.7%;
        margin-right:1%;
        position:fixed;
}
    
.row {
    padding-top:1%;
    width:auto;
    height:50%;
    margin-top:2%; 
    margin-bottom:4%;
  }
#due {
    border-radius:110%;
    }
    
h2
{
    color:Black;
    font-family:Times;
    font-size:120%;
    line-height: 250%;
}

h3
{
    color:Black;
    font-family:Times;
    font-size:90%;
    line-height: 120%;
    margin-left:0.5%;
    margin-right:2%;
    margin-bottom:1%
}
    
h4
{
    color:Black;
    font-family:Times;
    font-size:90%;
    line-height: 130%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:3%;
}

#r1 {
    text-align:left;
    padding-left:30px;
    border-style:solid;
    border-color:black;
    border-width:1px;
    border-radius: 60px;
    width:auto;
    height:50px;
    margin-bottom:20px;
}
    
#r2 {
    padding-left:5%;
}

.row {
    width: auto;
    padding-top:0%;
    margin-left:0%;
    margin-right:0%;
    margin-bottom:1%;   
}
}